

<div>
 <h2>Data auto refreshing </h2>
{{result}}
</div>
<button type="button" {{action "cancelRefreshing"}}> cancelRefreshing</button>
<div>
<h2>TinyMce library for text editor binding on ember </h2>    
{{rich-text-editor-component}}
</div>
{{yield}}